@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #2d3349;
  --secondary: #434656;
  --temperature: linear-gradient(to right bottom, #2d3349, #5b6075);
  --temperature-day: linear-gradient(to right bottom, #2d3349, #5b6075);
  --temperature-night: linear-gradient(to right bottom, #fafafa, #d0d0d0);
  --input: #434656;
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
